*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
nav input,
nav label,
nav label .fa-close {     
    display: none; 
}
img {     
  max-width: 100%; 
}

ul {
  list-style: none;
}
a,
i {text-decoration: none;
}

.wrapper {     
    margin: 0 auto;     
    width: 1100px; 
    max-width:100%;
}
