header{
    float: left;     
    width: 100%;     
    margin: 25px 0 0 0;    
    position: absolute;     
    top: 0;
    // position: fixed;
}

nav {     
    float: left;     
    width: 100%; 
    font-size: 18px;
    // padding: 25px 0 25px 0;
    // background-color: $lightGrey;
    ul {     
        float: left;     
        width: 100%;     
        margin: 0;     
        padding: 0; 
        li {     
            float: left;     
            width: auto;     
            list-style-type: none;     
            margin: 0 25px 0 0; 
            a { 
                transition:0.4s ease all;    
                float: left;     
                width: auto;     
                text-decoration: none;     
                color: $black; 
                font-weight: 500;}
        }
    }
}

nav ul li a:hover,
nav ul li a.active{    
    color: $red; }

nav ul li:last-child {     
    margin: 0; 
}

