// skills section

section.skills {     
    float: left;     
    width: 100%;     
    padding: 100px 0 70px 0; 
    h2 {     
        float: left;     
        width: 100%;     
        text-align: center;     
        font-size: 35px;     
        font-weight: 600;     
        margin: 0;     
        // position: relative;    
        padding: 0 0 15px 0; 
    }
}

// section.skills h2:before {     
//     content: '';     
//     position: absolute;     
//     bottom: 0;     
//     width: 160px;     
//     background: $lightBrown;     
//     height: 3px;     
//     left: 50%;     
//     transform: translateX(-50%); 
//  }
 .skillsIcons {     
     float: left;     
     width: 100%;     
     text-align: center;     
     margin: 80px 0 0 0; 
     ul {     
         float: left;     
         width: 100%; 
         li {     
             float: none;     
             display: inline-block;     
             width: 24%;     
             margin: 0 0 70px 0; 
             i {     
                 font-size: 50px; 
                }
            }
        }
    }

    .item {
        position: relative;
        display: flex;
        justify-content: center;
        
    }

    .item .front {
        transform: rotate(0deg) rotateX(0deg);
        backface-visibility: hidden;
        transition: all .4s ease-in-out;
    }

    .item.flip .front {
        transform: rotateX(180deg);
    }
    .item .back {
        font-family: "Roboto", sans-serif;
        margin-top:-30px;
        transform: rotateX(-180deg);
        backface-visibility: hidden; 
        transition: all .4s ease-in-out;
        
        p{
            font-size: 20px;
            text-align: center;
            color: $red;
        }
    }

    .item.flip .back {
        transform: rotateX(0deg) rotateY(0deg);
    }