@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:ital@1&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  /* 1 rem = 20px */
}

nav input,
nav label,
nav label .fa-close {
  display: none;
}

img {
  max-width: 100%;
}

header {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
  position: absolute;
  top: 0;
}

.container {
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
}

nav {
  float: left;
  width: 100%;
}
nav ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  width: auto;
  list-style-type: none;
  margin: 0 25px 0 0;
}
nav ul li a {
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  float: left;
  width: auto;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

nav ul li a:hover,
nav ul li a.active {
  color: #af9883;
}

nav ul li:last-child {
  margin: 0;
}

main#main {
  background-image: url(../assets/background-lg.png);
  float: left;
  width: 100%;
  padding: 180px 0 470px 0;
  background-color: #f2e8df;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.information {
  float: left;
  width: 60%;
  padding: 0 40px 0 0;
}
.information h1 {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 25px;
  font-weight: 500;
}
.information h2 {
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
}
.information p {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.headerImage {
  float: left;
  width: 40%;
}

.headerButtons {
  float: left;
  width: 100%;
}
.headerButtons button {
  float: left;
  width: auto;
  cursor: pointer;
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
  margin: 0 15px 0 0;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 16px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

button.whiteButton {
  background: #ffffff;
}

button.redButton:hover,
button.redButton:active {
  background: #ffffff;
  color: #000000;
}

button.whiteButton:hover,
button.whiteButton:active {
  background: #f24150;
  color: #ffffff;
}

button.redButton {
  background: #f24150;
  color: #ffffff;
}

.headerImage img {
  border-radius: 50%;
}

section.skills {
  float: left;
  width: 100%;
  padding: 100px 0 70px 0;
}
section.skills h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  position: relative;
  padding: 0 0 15px 0;
}

section.skills h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 160px;
  background: #BD805D;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills_icons {
  float: left;
  width: 100%;
  text-align: center;
  margin: 80px 0 0 0;
}
.skills_icons ul {
  float: left;
  width: 100%;
}
.skills_icons ul li {
  float: none;
  display: inline-block;
  width: 24%;
  margin: 0 0 70px 0;
}
.skills_icons ul li i {
  font-size: 50px;
}

section.course_outer {
  float: left;
  position: relative;
  width: 100%;
  padding: 170px 0 200px 0;
}

section.course_outer:after {
  content: "";
  position: absolute;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f2e8df), to(#f2e8df));
  background-image: linear-gradient(to right, #f2e8df, #f2e8df);
  width: 100%;
  height: 100%;
  z-index: -9;
  left: 0;
  -webkit-clip-path: polygon(0% 16%, 100% 0%, 100% 86%, 0% 100%);
          clip-path: polygon(0% 16%, 100% 0%, 100% 86%, 0% 100%);
}

.courses_main {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coursesBlocks {
  float: left;
  width: 100%;
}
.coursesBlocks h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 0 0 50px 0;
}

.coursesInfo {
  float: left;
  width: 33%;
  text-align: center;
  padding: 0 10px;
}

.coursesInfo_detail {
  float: left;
  width: 100%;
  background: #ffffff;
  padding: 40px 0;
  -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
}
.coursesInfo_detail h3 {
  float: left;
  width: 100%;
  font-size: 18px;
  margin: 0 0 20px 0;
}
.coursesInfo_detail p {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-weight: 500;
}

.coursesInfo_detail p:last-child {
  margin: 0;
}

.coursesInfo_detail p.company {
  color: #f24150;
}

.coursesInfo_detail p.time {
  font-weight: 600;
  color: #af9883;
}

section.projectsSection {
  float: left;
  width: 100%;
  padding: 80px 0;
}
section.projectsSection h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
  margin: 0 0 30px 0;
}
section.projectsSection p.projectInfo {
  float: left;
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
}

.project-container-main {
  float: left;
  width: 100%;
  margin: 60px 0 0 0;
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.projectText {
  float: left;
  width: 100%;
  text-align: center;
}
.projectText h3 {
  float: left;
  width: 100%;
  margin: 10px 0 10px 0;
}
.projectText p {
  float: left;
  width: 100%;
  margin: 0 0 25px 0;
}

.toolsContainer {
  float: left;
  width: 100%;
  text-align: center;
}
.toolsContainer ul {
  float: left;
  width: 100%;
}
.toolsContainer ul li {
  float: none;
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.toolsContainer ul li i {
  font-size: 30px;
}

.linksContainer {
  float: left;
  width: 100%;
  margin: 25px 0 0 0;
}
.linksContainer a {
  float: none;
  display: inline-block;
  font-weight: 600;
  width: auto;
  background: #f24150;
  color: #ffffff;
  padding: 8px 30px;
  border-radius: 50px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.linksContainer a:hover,
.linksContainer a:focus {
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
}

.linksContainer a:last-child {
  background: #f2e8df;
  color: #000000;
}